.app {
  display: flex;
}
.flexContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.imageContainer {
  max-width: 40%;
  margin-right: 5%;
}
.detailsContainer {
  max-width: 50%;
  margin-right: 5%;
}
